<style>
    .container {
      font-family: 'Source Serif Pro', serif;
    }
    p {
      padding-top:20px;
      text-align:center;
    }
    p a {
      font-size:1.5em;
      font-weight:bold;
      font-family:poppins;
    }
    .col-agency_name.type-str {
      text-align: left;
      padding-right: 10px;
    }
    td.col-amount{
      text-align:left;
      padding-left:25px;
    }
    .col-payee_name.type-str {
      text-align: left;
      padding-left: 20px;
    }
    th.col-agency_name {
      text-align: left;
      padding-top:10px;
      padding-bottom:10px;
    }
    th.col-payee_name {
      text-align: left;
      padding-left: 100px;
    }
    th.col-payee_zip {
      padding-right:20px;
    }
    th.col-fiscal_year, th.col-amount, th.col-payee_zip, th.col-payee_name, th.col-agency_name {
      font-size: 1.25rem;
      font-family: poppins, sans-serif;
      text-decoration: underline;
    }
    @media screen and (max-width:1000px) {
    th.col-fiscal_year, th.col-amount, th.col-payee_zip, th.col-payee_name, th.col-agency_name {
      font-size: 1rem;
    }
    }
</style>

{% if display_rows %}
<div class="table-wrapper">
    <table class="rows-and-columns">
        <thead>
            <tr>
                <th class="col-agency_name" scope="col" data-column="agency_name" data-column-type="text" data-column-not-null="0" data-is-pk="0">School District</th>
                <th class="col-fiscal_year" scope="col" data-column="fiscal_year" data-column-type="text" data-column-not-null="0" data-is-pk="0">Fiscal Year</th>
                <th class="col-payee_name" scope="col" data-column="payee_name" data-column-type="text" data-column-not-null="0" data-is-pk="0">Vendor</th>
                <th class="col-payee_zip" scope="col" data-column="payee_zip" data-column-type="text" data-column-not-null="0" data-is-pk="0">Zip Code</th>
                <th class="col-amount" scope="col" data-column="amount" data-column-type="float" data-column-not-null="0" data-is-pk="0">Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for row in display_rows %}
            <tr>
              <td class="col-agency_name type-str">{{ row.cells[2]['value'] }}</td>
              <td class="col-fiscal_year type-str">{{ row.cells[3]['value'] }}</td>
              <td class="col-payee_name type-str">{{ row.cells[4]['value'] }}</td>
              <td class="col-payee_zip type-str">{{ row.cells[5]['value'] }}</td>
              <td class="col-amount type-float">${{'{:,.0f}'.format(row.cells[8]['raw']|float) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p class="zero-results">0 records</p>
{% endif %}
