{% extends "base.html" %}

{% block title %}{{ database }}: {{ table }}: {% if count or count == 0 %}{{ "{:,}".format(count) }} row{% if count == 1 %}{% else %}s{% endif %}{% endif %}{% if human_description_en %} {{ human_description_en }}{% endif %}{% endblock %}

{% block extra_head %}
{{- super() -}}
<script src="{{ urls.static('table.js') }}" defer></script>
<script>DATASETTE_ALLOW_FACET = {{ datasette_allow_facet }};</script>
<style>
@media only screen and (max-width: 576px) {
{% for column in display_columns -%}
    .rows-and-columns td:nth-of-type({{ loop.index }}):before { content: "{{ column.name|escape_css_string }}"; }
{% endfor %}}
</style>
{% endblock %}

{% block body_class %}table db-{{ database|to_css_class }} table-{{ table|to_css_class }}{% endblock %}

{% block crumbs %}
{{ crumbs.nav(request=request, database=database) }}
{% endblock %}

{% block content %}

<form class="filters" action="{{ urls.table(database, table) }}" method="get">
      <div class="search-row">
        <input id="_search" type="search" name="_search" value="{{ search }}">
        <input type="hidden" name="_nocol" value="exclude">
        <input type="hidden" name="_nocol" value="slug">
        <input type="hidden" name="_nocol" value="purpose_of_payment_baltimore_county_only">
        <input type="hidden" name="exclude__exact" value="FALSE">
        <input type="submit" value="Search">
      </div>
</form>


{% if facet_results %}
    {% include "_facet_results.html" %}
{% endif %}

{% include custom_table_templates %}

{% if next_url %}
     <p><a href="{{ next_url }}">Next page</a></p>
{% endif %}

<br />
{% if display_rows %}
    <div id="export" class="advanced-export">
        <h3>Export Results</h3>
        <form action="{{ url_csv_path }}" method="get">
            <p>
                CSV options:
                <label><input type="checkbox" name="_dl"> download this page's results</label>
                {% if expandable_columns %}<label><input type="checkbox" name="_labels" checked> expand labels</label>{% endif %}
                {% if next_url and settings.allow_csv_stream %}<label><input type="checkbox" name="_stream"> download all data</label>{% endif %}
                <input type="submit" value="Export CSV">
                {% for key, value in url_csv_hidden_args %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endfor %}
                    <input type="hidden" name="exclude__exact" value="FALSE">
            </p>
        </form>
    </div>
{% endif %}



{% endblock %}
